/ServidorWebS/nbproject/private/
/ServidorWebS/dist/
/ServidorWebS/build/
/Provedor Interno/Provedor-WS/build/
/Provedor Interno/Provedor-WS/dist/
/AgenciaDeTurismo/nbproject/private/
/AgenciaDeTurismo/build/
/AgenciaDeTurismo/dist/
/Provedor-WS-EX/nbproject/private/
/Provedor-WS-EX/dist/
/Provedor-WS-EX/build/
/teste-provedor-ex/nbproject/private/
/teste-provedor-ex/build/
/teste-provedor-ex/dist/
/teste-provedor-interno/nbproject/private/
/teste-provedor-interno/build/
/teste-provedor-interno/dist/